{% extends 'app/base.html' %}

<!-- <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="styles2.css">
</head>
<body style="background-color:rgba(111, 143, 160, 0.886)">
<div class="topnav" id="myTopnav">
  <a href="homePage.html" class="active">Home</a>
  <a href="Revenue.html">Revenue Report</a>
  <a style="float:right">Log-Out</a>
  <div class="dropdown">
    <button class="dropbtn">Vehicles 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="infoPage.html">Car Report</a>
      <a href="2Wheelers.html">Two-Wheeler Report</a>
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn">Add Departure
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="departure.html">Car </a>
      <a href="dep2W.html">Two-Wheeler</a>
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn">Add Arrival
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="NewData.html">Car </a>
      <a href="arr2W.html">Two-Wheeler</a>
    </div>
  </div> 
  <a href="aboutUs.html" style="float:right">About</a>
  <a href="#about" style="float:right">Contact Us</a>
</div>
 -->

{% block body %}

<div class="grid-container">
    <div class="item1">Total Number Of Parkings:</div>
    <div class="ans1">{{parking.totalParkings}}</div>
    <div class="itme2">Parkings Available:</div>
    <div class="ans2">{{parking.parkingsAvailable}}</div>
    <div class="itme3">Parkings Occupied:</div>
    <div class="ans3">{{parking.parkingsOccupied}}</div>
    <div class="item4">Parkings Vacant:</div>
    <div class="ans4">{{parking.parkingsVacant}}</div>
 
</div>

<div class="table-container">
      <table style="width:100%">
      <caption class="hero" >Car Details</caption>
      <tr>
        <td>S.no</td>
        <td>Car number</td>
        <td>Entry time</td>
        <td>Exit time</td>
        <td>Parking duration</td>
      </tr>
      {% for vehicle in data %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{vehicle.number}}</td>
        <td>{{vehicle.entryTime}}</td>
        <td>{{vehicle.exitTime}}</td>
        <td>{{vehicle.parkingDuration}}</td>
      </tr>
      {% endfor %}
    </table> 
    <div class="pagination">
      {% if prev %}
      <a href="{% url 'vehicle_info' 'two-wheeler' %}?page={{prev}}">&laquo;</a>
      {% else %}
      <a active>&laquo;</a>
      {% endif %}
      {% for page in pages %}
      {% if page == curr %}
      <a active >{{page}}</a>
      {% else %}
      <a href="{% url 'vehicle_info' 'two-wheeler' %}?page={{page}}">{{page}}</a>
      {% endif %}
      {% endfor %}
      {% if next %}
      <a href="{% url 'vehicle_info' 'two-wheeler' %}?page={{next}}">&raquo;</a>
      {% else %}
      <a active>&raquo;</a>
      {% endif %}
    </div>
</div>

{% endblock body %}

<!-- 
</body>
</html>
-->