* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(4, 3, 3);


    font-size: 14px;
    font-family: sans-serif;

}

.container {
    width: 60%;
    margin: 50px auto;
}

.container p {
    color: #fff;
}

.container h1 {
    color: #fff;
}


.contact-box {
    background: #fff;
    display: flex;

}

.contact-left {
    flex-basis: 60%;
    padding: 30px 40px;
}

.contact-right {
    flex-basis: 40%;
    padding: 40px;
    background: rgb(111, 143, 160);
    color: #fff;

}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label {
    margin-bottom: 6px;
    display: block;
    color: rgb(111, 143, 160);
}

button {
    background: rgb(111, 143, 160);
    width: 100px;
    border: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);



}

button:hover {
    color: rgb(111, 143, 160);
    border: rgb(111, 143, 160) solid 1px;
    background: #fff;
}

.contact-left h3 {
    color: rgb(111, 143, 160);
    font-weight: 600;
    margin-bottom: 30px;

}

tr td:first-child {
    padding-right: 20px;
}

tr td {
    padding-top: 20px;
}

/* html {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

body,
html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("https: //images.pexels.com/photos/1860717/pexels-photo-1860717.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}